[flake8]
max-line-length=120
exclude=neural_de/external/maxim_tf/    # We exclude external code from checking

ignore=E402,W605,W503,W504,E741
#    E402, module-level import not at top of file
#    W605, invalid escape sequence 'x'
#    W503, line break before binary operator
#    W504, line break after binary operator
#    E741 , Ambiguous variable name
